rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Los usuarios pueden leer y escribir sus propios datos
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Los usuarios autenticados pueden leer las preguntas
    match /questions/{questionId} {
      allow get: if request.auth != null;
      // Para el panel de administrador, se necesitarían reglas más específicas
      allow list, create, update, delete: if false; // Proteger por ahora
    }

    // Los usuarios pueden crear y actualizar sus propios examenes
    match /exams/{examId} {
        allow read, write: if request.auth != null && request.resource.data.user_id == request.auth.uid;
    }

    // Los usuarios pueden crear y leer sus propias respuestas
    match /exam_answers/{answerId} {
      allow read, write: if request.auth != null && request.resource.data.user_id == request.auth.uid;
    }

     // Estadísticas de usuario
    match /user_question_stats/{statId} {
        allow read, write: if request.auth != null && request.resource.data.user_id == request.auth.uid;
    }
  }
}
